ssh:
  host: 15.165.102.5       # 서버 IP 또는 도메인
  port: 22                    # SSH 포트 (기본: 22)
  username: ubuntu            # SSH 사용자 이름
  pkey: ~/.ssh/boaz_codedeploy.pem        # SSH 키 파일 경로 (키 인증 사용 시)
  password: 1219    # 비밀번호 인증 시 주석 해제

# ── MySQL DB 설정 ─────────────────────────────────────────
database:
  host: boaz-prod-db.cyhj0fonzzlx.ap-northeast-2.rds.amazonaws.com
  port: 3306
  user: root
  password: 20132026
  database: boaz
